.cart {
    display: flex;
    flex-direction: column;
}

.cart__body {
    height: 480px;
    width: 320px;
    max-width: 320px;
    min-height: 480px;

    display: flex;
    flex-direction: column;
    gap: 0;

    overflow: hidden;

    cursor: pointer;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.cart__head-block {
    display: flex;
    pointer-events: none;
}

.cart__angle {
    width: 0;

    display: inline-block;

    position: relative;

    border-style: solid;
    border-width: 0 0 44px 44px;
    border-color: transparent transparent #F2F2F2 transparent;
}

.cart__angle::before {
    content: '';
    width: 100%;
    /* height: 100%; */

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    display: inline-block;

    border-style: solid;
    border-width: 0 0 44px 44px;
    border-color: transparent transparent #F2F2F2 transparent;

    z-index: -1;
}

.cart__angle::after {
    content: '';

    width: 66px;
    height: 4px;

    position: absolute;
    top: 21px;
    right: -11px;
    transform: rotate(135deg);

    transition: 0.2s;
    /* for IE11: */
    background-color: #1698D9;
    background-color: var(--blue-default);
}

.cart__body_default:hover .cart__angle::after {
    /* for IE11: */
    background-color: #2EA8E6;
    background-color: var(--blue-hover);
}

.cart__headline {
    width: 100%;
    max-width: inherit;

    padding: 17px 0 0 7px;

    transition: 0.2s;

    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    border-style: solid;
    border-width: 4px 4px 0 0;

    /* for IE11: */
    border-color: #1698D9;
    border-color: var(--blue-default);

    background-color: #F2F2F2;
    border-top-right-radius: 12px;
}

.cart__body_default:hover .cart__headline {
    /* for IE11: */
    border-color: #2EA8E6;
    border-color: var(--blue-hover);
}

.cart__slogan {
    color: #666666;
}

.cart__slogan_red {
    display: none;

    color: #E62E7A;
}

/* down part of cart =====================*/
.cart__main-block {
    height: 100%;
    max-width: inherit;
    position: relative;

    padding-left: 45px;

    pointer-events: none;
    transition: 0.2s;
    border-style: solid;
    border-width: 0 4px 4px 4px;
    /* for IE11: */
    border-color: #1698D9;
    border-color: var(--blue-default);
    background-color: #F2F2F2;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;

    background-image: url('../../images/cat-photo.png');
    background-repeat: no-repeat;
    background-position: top 165px right 50%;
}

.cart__body_default:hover .cart__main-block {
    border-color: #2EA8E6;
    border-color: var(--blue-hover);
}

.cart__title {
    font-size: 48px;
    font-weight: 700;
}

.cart__subtitle {
    margin-bottom: 15px;

    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.cart__portion,
.cart__gift {
    max-width: 130px;

    font-size: 14px;
    line-height: 16px;
    color: #666666;
}

.cart__portion-value,
.cart__gift-value {
    font-size: 14px;
    font-weight: 700;
    color: #666666;
}
/* ==================================================== */

/* blue circle label with weight */
.cart__circle-label {
    width: 80px;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 12px;
    right: 12px;

    transition: 0.2s;

    overflow: hidden;
    border-radius: 100%;

    /* for IE11: */
    background-color: #1698D9;
    background-color: var(--blue-default);
}

.cart__body_default:hover .cart__circle-label {
    /* for IE11: */
    background-color: #2EA8E6;
    background-color: var(--blue-hover);
}

.cart__weight {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart__weight-value,
.cart__weight-kilo {
    color: #FFFFFF;
    line-height: 22px;
    text-align: center;
}

.cart__weight-value {
    padding-top: 10px;
    font-size: 42px;
}

.cart__weight-kilo {
    padding-top: 7px;
    font-size: 21px;
}
/* ========================================== */
/* text with link ================================*/
.cart__button-wrapper {
    display: none;

    font-size: 13px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    cursor: default;
}

.cart__button {
    position: relative;

    display: inline-block;

    border: none;
    outline: none;
    background-color: transparent;
    font-weight: 700;
    /* for IE11: */
    color: #1698D9;
    color: var(--blue-default);
    cursor: pointer;
}

.cart__button:hover {
    /* for IE11: */
    color: #2EA8E6;
    color: var(--blue-hover);
}

.cart__button::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    border-bottom: 1px dashed #1698D9;
    border-bottom: 1px dashed var(--blue-default);
}

.cart__button::after:hover {
    border-bottom: 1px dashed #2EA8E6;
    border-bottom: 1px dashed var(--blue-hover);
}

.cart__button-wrapper_disabled {
    color: #FFFF66;
}
/* pattern  .cart__button-wrapper toggle*/
.cart_default .cart__button-wrapper_default {
    display: block;
}
.cart_selected .cart__button-wrapper_selected {
    display: block;
}
.cart_disabled .cart__button-wrapper_disabled {
    display: block;
}

/* ====================================== */
/* hover on cart__button ============== */
.cart__body_hover .cart__main-block {
    border-color: #2EA8E6;
    border-color: var(--blue-hover);
}
.cart__body_hover .cart__headline {
    border-color: #2EA8E6;
    border-color: var(--blue-hover);
}
.cart__body_hover .cart__angle::after {
    background-color: #2EA8E6;
    background-color: var(--blue-hover);
}
.cart__body_hover .cart__circle-label {
    background-color: #2EA8E6;
    background-color: var(--blue-hover);
}
/* ===================================== */
/* ========================================================= */
/* selected cart colors and effects ======================== */
.cart_selected .cart__angle::after{
    background-color: #D91667;
    background-color: var(--red-selected);
}
/* selected hover */
.cart__body_selected:hover .cart__angle::after {
    background-color: #E52E7A;
    background-color: var(--red-hover);
}

.cart_selected .cart__headline {
    border-color: #D91667;
    border-color: var(--red-selected);
}
/* selected hover */
.cart__body_selected:hover .cart__headline {
    border-color: #E52E7A;
    border-color: var(--red-hover);
}

.cart_selected .cart__main-block {
    border-color: #D91667;
    border-color: var(--red-selected);
}
/* selected hover */
.cart__body_selected:hover .cart__main-block {
    border-color: #E52E7A;
    border-color: var(--red-hover);
}

.cart_selected .cart__circle-label {
    background-color: #D91667;
    background-color: var(--red-selected);
}
/* selected hover */
.cart__body_selected:hover .cart__circle-label {
    background-color: #E52E7A;
    background-color: var(--red-hover);
}
/* ============================================== */
/* slogan hover */
.cart__body_selected-hover-text:hover .cart__slogan_red {
    display: block;
}

.cart__body_selected-hover-text:hover .cart__slogan_grey {
    display: none;
}
/* ============================================== */
/* disabled cart colors and effects=================*/
.cart_disabled .cart__angle::after{
    background-color: #B3B3B3;
}

.cart_disabled .cart__headline {
    position: relative;
    border-color: #B3B3B3;
}

.cart_disabled .cart__headline::after {
    content: '';

    width: calc(100% + 1px);
    height: calc(100% + 1px);

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(179, 179, 179, 0.5);
}

.cart_disabled .cart__main-block {
    border-color: #B3B3B3;
}

.cart_disabled .cart__circle-label {
    background-color: #B3B3B3;
}

.cart_disabled .cart__main-block::after {
    content: '';

    width: calc(100% + 1px);
    height: calc(100% + 1px);

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(179, 179, 179, 0.5);
}

.cart_disabled .cart__angle {
    border-style: solid;
    border-width: 0 0 44px 44px;
    border-color: transparent transparent rgba(179, 179, 179, 0.5) transparent;
}
.cart_disabled .cart__body {
    pointer-events: none;
}

.cart_disabled .cart__title {
    color: #B3B3B3;
}
.cart_disabled .cart__slogan {
    color: #B3B3B3;
}
.cart_disabled .cart__subtitle {
    color: #B3B3B3;
}
.cart_disabled .cart__portion {
    color: #B3B3B3;
}
.cart_disabled .cart__portion-value {
    color: #B3B3B3;
}
.cart_disabled .cart__gift {
    color: #B3B3B3;
}
.cart_disabled .cart__gift-value {
    color: #B3B3B3;
}
/* ==================================================== */

@media screen and (max-width: 780px) {
    .cart__body {
        width: 300px;
        height: 460px;
    }
}
